<div class=" pb-5">
  <div class="container text-center">
    <h3 class="pt-5">車探しは</h3>
    <h1 class="site-name">Much Match Cars</h1>
    <p class="pt-5">Much Mach Carsは車のレビューを</br>
    見たり、投稿したりできるレビューサイトです。</br>
    あなたの愛車選びのお役に立てれば幸いです。</p>
  </div>
  <div class="mt-5">
    <%= image_tag 'green_car.png', id: "green_car", height: '70' %>
  </div>
="mt-5">
    <%= image_tag 'red_car.png', id: "red_car", height: '70' %>
  </div>
  <div class="mt-5">
    <%= image_tag 'blue_car.png', id: "blue_car", height: '70' %>
  </div>
</div>
<script>
  const green_car = document.getElementById('green_car');
  green_car.animate(
    [
      { transform: 'translateX(2000px)'},
      { transform: 'translateX(-400px)' }
    ],
    {
      fill: 'backwards',
      duration: 8000,
      iterations: Infinity,
    },
    );

  const yellow_car = document.getElementById('yellow_car');
  yellow_car.animate(
    [
      { transform: 'translateX(0)'},
      { transform: 'translateX(2000px)' }
    ],
    {
      fill: 'forwards',
      duration: 5000,
      iterations: Infinity,
    },
    );
  const red_car = document.getElementById('red_car');
  red_car.animate(
    [
      { transform: 'translateX(2000px)'},
      { transform: 'translateX(-400px)' }
    ],
    {
      fill: 'backwards',
      duration: 10000,
      iterations: Infinity,
    },
    );
  const blue_car = document.getElementById('blue_car');
  blue_car.animate(
    [
      { transform: 'translateX(0)'},
      { transform: 'translateX(2000px)' }
    ],
    {
      fill: 'backwards',
      duration: 12000,
      iterations: Infinity,
    },
    );
</script>