<div class=" pb-5">
  <div class="container text-center">
    <h3 class="pt-5">車探しは</h3>
    <h1 class="site-name">Much Match Cars</h1>
    <p class="pt-5">Much Mach Carsは車のレビューを</br>
    見たり、投稿したりできるレビューサイトです。</br>
    あなたの愛車選びのお役に立てれば幸いです。</p>
  </div>

</div>