<div class="container text-center">
  <h1 class="pt-5">新車探しは</br>
  <strong>Much Match Cars</strong></h1>
  <p class="pt-5">Much Mach Carsは車のレビューを見たり、</br>
  車のレビューを見たり投稿したりできるレビューサイトです。</br>
  あなたの愛車の良いトコ、悪いトコ、たくさん教えてください！</p>
</div>