<div class="container text-center about">
  <h3 class="pt-5">車探しは</h3>
  <h1>Much Match Cars</h1>
  <p class="pt-5">Much Mach Carsは車のレビューを見たり、</br>
  車のレビューを見たり投稿したりできるレビューサイトです。</br>
  あなたの愛車の良いトコ、悪いトコ、たくさん教えてください！</p>
</div>