@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'Noto Serif Japanese', serif;
  background-color: #EEEEEE;
  padding-top: 120px;
}

.site-name {
  font-family: 'Carter One', cursive;
}

.pagination li a {
  border: none;
  color: #696969;
}

.pagination .active a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination li a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.arrow {
  margin: 22px;
  text-align: end;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

#good, #nogood {
  text-decoration: underline;
}