@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'Noto Serif Japanese', serif;
  background-color: #EEEEEE;
}

.site-name {
  font-family: 'Carter One', serif;
}