@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'Noto Serif Japanese', serif;
  background-color: #EEEEEE;
  padding-top: 120px;
}

.site-name {
  font-family: 'Carter One', cursive;
}

.pagination li a {
  border: none;
  color: #696969;
}

.pagination .active a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination li a:hover {
  border-radius: 15px;
}

.pagination {
  justify-content: center;
}

.arrow {
  margin: 20px;
  text-align: end;
}

table {
  vertical-align: middle;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

#good, #nogood {
  text-decoration: underline;
}

.user-achievement {
  display: flex;
  justify-content: center;
  align-items: center;
}

// top_slide
.slide_box {
  margin: 0 auto;
  border: 1px solid #000000;
  width: 400px;
}

.slide_box .slide_image_box {
  position: relative;
  max-width: 100%;
  text-align: center;
}

.slide_box .slide_image_box img {
  vertical-align: top;
}

.slide_box .slide_image_box .change_btn_right {
  position: absolute;
  right: 0px;
  top: 50%;
  cursor: pointer;
}

.slide_box .slide_image_box .change_btn_left {
  position: absolute;
  left: 0px;
  top: 50%;
  color: #ffffff;
  cursor: pointer;
}