<h2 class="mx-5 mt-3"><%= @manufacturer.name %>の車種一覧</h2>
<div class="container text-center">
  <table class="table">
    <tr>
      <th></th>
      <th>メーカー</th>
      <th>車種名</th>
      <th>価格</th>
    </tr>
    <% @manufacturer.models.each do |model| %>
      <%= render "public/shared/manufacturer_show", model: model %>
    <% end %>
  </table>
</div>