<select id="car_type_id" name="car[type_id]">
  <option value=""></option>
  <% types.each do | type | %>
    <option value="<%= type.id %>">
      <%= type.name %>
    </option>
  <% end %>
</select>