<h2 class="mx-5 mt-3">ユーザー一覧</h2>
  <div class="container text-center">
    <table class="table">
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.get_profile_image(100,100) %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.introduct %></td>
        </tr>
      <% end %>
    </table>
  </div>
